{% extends 'base.html'  %}
{% if session['user_id'] %}
{% block navbar%}
<a href="/users/{{user.username}}">{{user.username}}</a>

{% endblock %}
{% endif %}

{% block content %}

<h4 class="display-4"> Hi, {{user.first_name}}</h4>


<p> First Name: {{user.first_name}}</p>
<p> Last Name: {{user.last_name}}</p>
<p> Username: {{user.username}}</p>
<p> Email: {{user.email}}</p>

{% for feedback in all_feedback %}
{% if session['user_id'] == feedback.user.id %}
    <div class="border border-info" >
    <p><a href="/user/{{feedback.user.username}}">{{feedback.user.username}}<a></p> 
    <h5>{{feedback.title}}</h5>
    <p>{{feedback.content}}</p>
    <form action="/feedback/{{feedback.id}}/update">
        <button>Edit</button>
    </form>

    <form action="/feedback/{{feedback.id}}/delete" method="POST">
    <button>Delete</button>
    </form>
    </div> 
{% endif %}
{% endfor %}
<form>
    <a href="/users/{{user.username}}/feedback/add"> Add Feedback </a>
</form>
{% if session['user_id'] == user.id %}
<form action="/users/{{user.username}}/delete" method="POST">
    <button>Delete User</button>
</form>
{% endif %}

{% endblock %}